body {
  background-color: #2E92FD;
}

#andres {
  margin-top: 20%;
}

#about-me {
  margin-top: 20px;
}

#links {
  position: absolute;
  width: 100%;
  bottom: 10px;
}

h2 {
  display: inline-block;
  background: #0277bd;
  border-radius: 0.3rem;
  padding: 0.3rem 0.5rem;
  font-size: 5rem;
  line-height: 5rem;
  margin: 0;
  font-weight: 300;
}

.separator:before {
  content: " / ";
  color: #0277bd;
}

a:link, a:visited {
  color: #0277bd;
}

a:active, a:hover {
  color: white;
}

.fa-lg {
  font-size: 2rem;
}

.em {
  width: 1em;
  height: 1em;
}

@media only screen and (max-width: 590px) {
  h2 {
    font-size: 3rem;
  }
  .fa-lg {
    font-size: 1.75rem;
  }
}

@media only screen and (max-width: 365px) {
  h2 {
    font-size: 2.8rem;
  }
}

@media only screen and (max-width: 320px) {
  h2 {
    font-size: 2.5rem;
  }
}
